.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.title {
  font-family: 'Telefon Black', Sans-Serif;
  font-size: 4em;
  font-weight: bold;
  color: #17a;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.description {
  font-family: 'Telefon Black', Sans-Serif;
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

#rocket {
  width: 555px;
  height: 555px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0.3);
  transform-origin: 50% 100%;
  margin: auto;
  background: url('https://freesvg.org/img/rocket-297573.png') left center;
}

@keyframes play {
  100% {
    background-position: -1072px;
  }
}

.fire {
  opacity: 0;
  width: 38px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: auto;
  transform: scale(8);
  background: url('http://jlongster.com/s/canvas-tutorial/sprites.png') left
    bottom;
  animation: burn 1.5s steps(13) infinite;
}

@keyframes burn {
  from {
    background-position: 8px 100%;
  }
  to {
    background-position: -520px 100%;
  }
}

.crash > .fire {
  opacity: 1;
}

#restart {
  opacity: 0;
  font-family: 'Telefon Black', Sans-Serif;
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  background-color: #17a;
  position: absolute;
  padding: 25px 75px;
  left: 30px;
  top: -400px;
  cursor: pointer;
}

.crash > #restart {
  transition: opacity 0s 1s;
  opacity: 1;
}
